name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [ '3.6', '3.9',]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install deps
        run: |
          pip install .[test]

      - name: Run pytest
        run: |
          pytest

      - name: Report Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./reports/coverage.xml
          flags: ${{ matrix.python-version }}
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
